/** Importing fonts**/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@119&display=swap');
body
{
    font-family: 'Roboto Slab',
    serif;

}
:root{
    --primary-color:red;
}
.container {
    /* padding-left:1rem;
    padding-right:1rem; */
    padding:1rem,1rem;
    /*first parameter for top down and 
    second parameter for left-right*/

}
.container-center {
  max-width: 600px;
  margin:auto;
}

/* links*/
.link-primary{
    color:var(--primary-color);
}